:root {
    --border: #dfdfdf;
}

.container {
    background-color: var(--block);
    flex-grow: 1;
    margin: 0 20px 30px;
    padding: 30px;
    border-radius: 8px;
}

.container h2 {
    font-size: 24px;
    color: var(--color-1);
    margin-bottom: 20px;
}

.row {
    display: flex;
    font-size: 20px;
    color: var(--txt-1);
}

.row:nth-child(1) .values .cell {
    background-color: var(--main-color);
    color: white;
}

.name {
    position: relative;
    flex-grow: 1;
    padding: 10px 15px;
    padding-right: 48px;
    box-sizing: border-box;
    border: 1px solid var(--border);
}

.noName {
    border: none;
}

.values {
    display: flex;
}

.cell {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    width: 70px;
}

.table {
    margin-bottom: 30px;
}

.total {
    margin-bottom: 40px;
}

.totalRow {
    font-size: 20px;
    margin-bottom: 10px;
}

.factValue {
    color: var(--color-3);
}

.factValueWater {
    color: var(--txt-2);
}

.key {
    display: inline-block;
    width: 90px;
    color: #575757;
}

.targetValue {
    font-size: 16px;
    color: var(--txt-1);
}

.btnDel {
    width: 30px;
    background: url(./img/delete.png) no-repeat center center / 78%;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

@media (max-width: 900px) {
    .row {
        font-size: 18px;
    }

    .cell {
        padding: 10px;
    }

    .name {
        padding: 10px;
        padding-right: 48px;
    }
}

@media (max-width: 760px) {
    .row {
        flex-direction: column;
    }

    .cell {
        width: 25%;
    }
}