.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 24px;
    color: var(--txt-1);
}

.item input {
    font-size: 22px;
    color: var(--txt-2);
    padding: 6px 10px;
    width: 80px;
    box-sizing: border-box;
}

.underline {
    border-bottom: 1px solid var(--txt-1);
}

.important {
    color: var(--color-3);
}

.head {
    color: var(--color-1);
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 45px;
}

.blue {
    color: var(--txt-2);
}

input[type="date"] {
    width: 170px;
    font-size: 18px;
}