.targetSettingBlock {
    width: 100%;
    background-color: var(--block);
    border-radius: 8px;
}

.clickToDrop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 26px;
    color: var(--color-3);
    cursor: pointer;
}

.dropDown {
    padding: 15px 30px 30px;
    color: var(--txt-1);
}

.dropDown label {
    font-stretch: condensed;
}

.selectTarget {
    margin-bottom: 60px;
}

.targetItem {
    margin-bottom: 20px;
    font-size: 24px;
}

.targetItem label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropDown input[type="radio"] {
    display: none;
}

.pseudoRadio {
    width: 30px;
    height: 30px;
    border: 2px solid var(--color-2);
    box-sizing: border-box;
    margin-right: 16px;
    position: relative;
    background-color: white;
}

.pseudoRadio:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    background-color: var(--color-3);
    transition: 0.3s;
}

.dropDown input:checked ~ .pseudoRadio:before { 
    width: 18px;
    height: 18px;
    transition: 0.3s;
}

.targetValue {
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
}

.targetValue label {
    margin-right: 15px;
}

.targetValue #weight {
    width: 100px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
}

.dropDown button {
    padding: 15px;
    min-width: 200px;
    font-size: 24px;
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}