.btn {
    min-width: 180px;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.type1 {
    background-color: var(--color-1);
    color: white;
}
.type2 {
    background-color: var(--color-2);
    color: white;
}
.type3 {
    background-color: var(--main-color);
    color: white;
    margin: 0;
}


@media (max-width: 600px) {
    .btn {
        min-width: 0;
        padding: 10px 15px;
        font-size: 20px;
    }
}