/* Секторы для мужской фигуры спереди */
#chest {
    width: 36.4%;
    left: 32%;
    top: 18.6%;
}

#right-shoulder {
    width: 15.4%;
    left: 25.3%;
    top: 17.6%;
}

#left-shoulder {
    width: 15.4%;
    left: 59.7%;
    top: 17.6%;
}

#right-biceps {
    width: 11.2%;
    left: 22.5%;
    top: 24.5%;
}

#left-biceps {
    width: 11.2%;
    right: 22%;
    top: 24.5%;
}

#right-trap {
    width: 9.4%;
    left: 38.8%;
    top: 13.3%;
}

#left-trap {
    width: 9.4%;
    right: 38.4%;
    top: 13.3%;
}

#right-forearm {
    width: 18.5%;
    left: 11%;
    top: 32.4%;
}

#left-forearm {
    width: 18.5%;
    right: 10.5%;
    top: 32.4%;
}

#belly {
    width: 17.7%;
    left: 40.9%;
    top: 26.7%;
}

#right-hip {
    width: 18%;
    left: 30.4%;
    bottom: 32.9%;
}

#left-hip {
    width: 18%;
    right: 29.9%;
    bottom: 32.9%;
}

#right-shin {
    width: 12.4%;
    left: 29.1%;
    bottom: 9.8%;
}

#left-shin {
    width: 12.1%;
    right: 28.9%;
    bottom: 9.6%;
}

/* Секторы для мужской фигуры сзади */
#back-trap {
    width: 18.5%;
    left: 40.4%;
    top: 10.9%;
}

#back-left-shoulder {
    width: 14.9%;
    left: 24.3%;
    top: 15.6%;
}

#back-right-shoulder {
    width: 14.9%;
    right: 24.2%;
    top: 15.6%;
}

#mid-back {
    width: 21.7%;
    left: 39.3%;
    top: 14%;
}

#lower-back {
    width: 18.3%;
    left: 40.9%;
    top: 31.5%;
}

#left-lat {
    width: 16.3%;
    left: 33%;
    top: 24.1%;
    border-radius: 0 0 78% 0;
}

#right-lat {
    width: 16.3%;
    right: 32.8%;
    top: 24.2%;
    border-radius: 0 0 0 78%;
}

#left-triceps {
    width: 12.8%;
    left: 20.2%;
    top: 22.1%;
}

#right-triceps {
    width: 12.3%;
    right: 20.1%;
    top: 22.1%;
}

#back-left-forearm {
    width: 17.1%;
    left: 9%;
    top: 32.4%;
}

#back-right-forearm {
    width: 17.1%;
    right: 9.2%;
    top: 32.4%;
}

#glutes {
    width: 33.1%;
    left: 33.4%;
    top: 41%;
}

#back-left-hip {
    width: 17.9%;
    left: 30.3%;
    top: 48.9%;
}

#back-right-hip {
    width: 17.9%;
    right: 30.3%;
    top: 48.9%;
}

#back-left-shin {
    width: 12.9%;
    left: 25.3%;
    top: 68.4%;
}

#back-right-shin {
    width: 12.9%;
    right: 25.3%;
    top: 68.4%;
}

/* Секторы для женской фигуры спереди */
#f-chest {
    width: 41.6%;
    left: 29.2%;
    top: 19.8%;
}

#f-right-shoulder {
    width: 14.1%;
    left: 23.4%;
    top: 18.5%;
}

#f-left-shoulder {
    width: 14.1%;
    right: 23.4%;
    top: 18.5%;
}

#f-right-biceps {
    width: 11.1%;
    left: 21.2%;
    top: 24.8%;
}

#f-left-biceps {
    width: 11.1%;
    right: 21.3%;
    top: 24.8%;
}

#f-right-trap {
    width: 9.3%;
    left: 37%;
    top: 15.9%;
}

#f-left-trap {
    width: 9.3%;
    right: 37.2%;
    top: 16%;
}

#f-right-forearm {
    width: 16.5%;
    left: 10.9%;
    top: 33%;
}

#f-left-forearm {
    width: 16.5%;
    right: 10.9%;
    top: 33%;
}

#f-belly {
    width: 19%;
    left: 40.3%;
    top: 28.5%;
}

#f-right-hip {
    width: 17.8%;
    left: 29.1%;
    bottom: 30.9%;
}

#f-left-hip {
    width: 17.8%;
    right: 29.2%;
    bottom: 30.9%;
}

#f-right-shin {
    width: 12.6%;
    left: 27.2%;
    bottom: 6.1%;
}

#f-left-shin {
    width: 12.9%;
    right: 27.2%;
    bottom: 6.1%;
}

/* Секторы для женской фигуры сзади */
#f-back-trap {
    width: 25.2%;
    left: 34.6%;
    top: 14.8%;
}

#f-back-left-shoulder {
    width: 15.8%;
    left: 19.3%;
    top: 17.9%;
}

#f-back-right-shoulder {
    width: 15.8%;
    right: 24.7%;
    top: 17.9%;
}

#f-mid-back {
    width: 27.7%;
    left: 33.5%;
    top: 17%;
}

#f-lower-back {
    width: 20.2%;
    left: 37.2%;
    top: 34.3%;
}

#f-left-lat {
    width: 15.3%;
    left: 31.2%;
    top: 27.4%;
    border-radius: 0 0 70% 0;
}

#f-right-lat {
    width: 15.3%;
    right: 36.7%;
    top: 27.4%;
    border-radius: 0 0 0 70%;
}

#f-left-triceps {
    width: 10.5%;
    left: 18%;
    top: 24.4%;
}

#f-right-triceps {
    width: 10.6%;
    right: 23.3%;
    top: 24.4%;
}

#f-back-left-forearm {
    width: 12.8%;
    left: 10.6%;
    top: 35.2%;
}

#f-back-right-forearm {
    width: 13.1%;
    right: 15.9%;
    top: 35.2%;
}

#f-glutes {
    width: 38.1%;
    left: 28.2%;
    top: 44.2%;
}

#f-back-left-hip {
    width: 18.5%;
    left: 25.8%;
    top: 51%;

}

#f-back-right-hip {
    width: 18.8%;
    right: 31%;
    top: 50.9%;
}

#f-back-left-shin {
    width: 13.5%;
    left: 25.7%;
    top: 71.8%;
}

#f-back-right-shin {
    width: 13.5%;
    right: 31.2%;
    top: 72%;
}