.row {
    display: flex;
    font-size: 20px;
    color: var(--txt-1);
}

.row:nth-child(1) .values .cell {
    background-color: var(--main-color);
    color: white;
}

.name {
    position: relative;
    flex-grow: 1;
    padding: 10px 15px;
    padding-right: 48px;
    box-sizing: border-box;
    border: 1px solid var(--border);
}

.noName {
    border: none;
}

.values {
    display: flex;
}

.cell {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    width: 70px;
}

.btnDel {
    width: 30px;
    background: url(./img/delete.png) no-repeat center center / 78%;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}


@media (max-width: 900px) {
    .row {
        font-size: 18px;
    }

    .cell {
        padding: 10px;
    }

    .name {
        padding: 10px;
        padding-right: 48px;
    }
}

@media (max-width: 760px) {
    .row {
        flex-direction: column;
    }

    .cell {
        width: 25%;
    }
}