.header {
    min-height: 140px;
    background: var(--main-color);
    border-bottom: 5px solid var(--color-1);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: inherit;
}