.navActive {
    color: var(--color-3) !important;
}

.nav {
    display: flex;
    font-size: 24px;
}

.nav button{
    font-size: 22px;
    color: #ffffff;
    background: none;
    padding: 4px 12px;
    border-radius: 6px;
}

li {
    margin: 0 14px;
    padding: 0 4px;
}

li:nth-last-child(1) {
    margin-right: 0;
}

.nav a {
    color: #ffffff;
}

@media (max-width: 1000px) {
    .nav {
        display: none;
    }
}