.menuBtn {
    width: 60px;
    height: 60px;
    background: url(./img/menu-btn.svg) no-repeat center center / contain;
    cursor: pointer;
    display: none;
}

@media (max-width: 1000px) {
    .menuBtn {
        display: block;
    }
}