.form {
    display: flex;
    flex-direction: column;
}

.input, .button {
    padding: 8px 15px;
    margin-bottom: 15px;
    border: 2px solid var(--color-1);
    font-size: 20px;
    color: var(--txt-1);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    background-color: var(--color-1);
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 7px;
}

.alert{
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #f4f4f4f4;
    border-radius: 4px;
    align-self: center;
    box-sizing: border-box;
    background: #D03039;
}