.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-window {
    background-color: var(--block);
    border-radius: 8px;
    max-width: 600px;
    flex-grow: 1;
}

.login-header {
    border-radius: 8px 8px 0 0;
    padding: 10px 30px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.login-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 15px;
}

.nav-item {
    font-size: 20px;
    margin-right: 20px;
    color: var(--color-3);
}

.nav-item.here {
    color: var(--txt-1);
    cursor: default;
}

.login-form {
    padding: 30px;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-input, .login-button {
    padding: 8px 15px;
    margin-bottom: 15px;
    border: 2px solid var(--color-1);
    font-size: 20px;
    color: var(--txt-1);
}

.login-button {
    background-color: var(--color-1);
    color: white;
    cursor: pointer;
}