.totalRow {
    font-size: 20px;
    margin-bottom: 10px;
}

.factValue {
    color: var(--color-3);
}

.factValueWater {
    color: var(--txt-2);
}

.key {
    display: inline-block;
    width: 90px;
    color: #575757;
}

.targetValue {
    font-size: 16px;
    color: var(--txt-1);
}