.logo {
    display: inline-block;
    height: 76px;
    width: 270px;
    background: url(./logo.svg) no-repeat center left / contain;
}

@media (max-width: 1130px) {
    .logo {
        height: 70px;
        width: 240px;
    }   
}